/* Gen. Styling For All Pages */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

header.navbar-box {
    padding: 0;
    margin: 0;
}

header.navbar-box nav.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

header.navbar-box nav.navbar-container img.navbar-logo {
    max-height: 20vh;
    max-width: 15%;
    display: inline-block;
    padding: 10px 20px;
}

header.navbar-box nav.navbar-container img.navbar-logo ul, li.navbar-menu {
    display: inline-block;
    list-style-type: none;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 1rem;
    align-items: center;
}

header.navbar-box nav.navbar-container img.navbar-logo ul, li.navbar-social-media-icons {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

header.navbar-box nav.navbar-container img.navbar-logo ul, li.navbar-cart {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

header.navbar-box nav.navbar-container img.navbar-logo ul, li, a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 0.4rem;
    font-weight: 500;
}

header.navbar-box nav.navbar-container img.navbar-logo ul, li, a:hover {
    color: rgb(234, 255, 0);
    transition: 0.3s;
}

header.navbar-box nav.navbar-container button.hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
}

header.navbar-nav nav.navbar-container button.hamburger:focus {
    outline: none;
}

/* -- */

section.works {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.works div.left-side img.invasion-cover {
    max-height: 50vh;
    max-width: 100%;
    display: block;
    padding: 10px 20px;
    margin: 100px 100px 100px 100px;
}

section.works div.right-side h2.ep-subheading {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    text-align: left;
    margin: 60px 0px 60px 60px;
    display: block;
    max-height: 50vh;
    max-width: 100%;
}

section.works div.right-side span.cover-name {
    color: rgb(234, 255, 0);
    font-size: 2.5rem;
    text-align: center;
    display: inline-block;
    font-weight: 300;
}

section.works div.right-side h2:hover {
    text-shadow:0px 0px 30px rgb(255, 255, 255);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

section.works div.right-side h3.ep-tracklist {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    text-align: left;
    margin: 30px 0px 0px 60px;
    display: block;
    max-height: 50vh;
    max-width: 100%;
}

section.works div.right-side span.artist-name {
    color: rgb(234, 255, 0);
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    font-weight: 300;
}

section.works div.right-side h3:hover {
    text-shadow:0px 0px 30px rgb(255, 255, 255);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

section.credits {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

h2.title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-align: center;
    margin: 60px 60px 60px 60px;
    display: block;
}

section.credits div.left-side img.stand-up-tall-cover {
    max-height: 50vh;
    max-width: 100%;
    display: block;
    padding: 10px 20px;
    margin: 100px 100px 0px 100px;
}

section.credits div.left-side h3.album-text {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
    display: block;
}

section.credits div.right-side video.main-video {
    max-height: 50vh;
    max-width: 100%;
    display: block;
    padding: 10px 20px;
    margin: 100px 100px 0px 100px;
}

section.credits div.right-side h3.video-text {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
    display: block;
}

section.credits div.left-side h3:hover {
    text-shadow:0px 0px 30px rgb(255, 255, 255);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

section.credits div.right-side h3:hover {
    text-shadow:0px 0px 30px rgb(255, 255, 255);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

footer p {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    padding-bottom: 60px;
}

/* Tablets */

@media screen and (max-width: 1000px) {
    header.navbar-box nav.navbar-container img.navbar-logo {
        max-height: 30vh;
        max-width: 30%;
    } 

    header.navbar-box nav.navbar-container ul.nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        line-height: 4rem;
    }

    header.navbar-box nav.navbar-container ul.nav-ul.show {
        display: flex;
    }

    header.navbar-box nav.navbar-container button.hamburger {
        display: block;
        font-size: 2rem;
    }

    header.navbar-box nav.navbar-container button.hamburger:hover {
        display: block;
        font-size: 2rem;
        color: rgb(234, 255, 0);
        transition: 0.2s ease-in-out;
    }

    section.works {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    section.works div.left-side img.invasion-cover {
        max-height: 50vh;
        max-width: 90%;
        display: block;
        padding: 10px 20px;
        margin: auto;
    }

    section.works div.right-side h2.ep-subheading {
        font-size: 3rem;
        text-align: center;
        margin: auto;
        display: block;
        max-height: 50vh;
        max-width: 100%;
        padding-right: 55px;
    }

    section.works div.right-side span.cover-name {
        font-size: 2rem;
    }

    section.works div.right-side h3.ep-tracklist {
        font-size: 2rem;
        text-align: left;
        margin: 30px 0px 0px 60px;
        display: block;
        max-height: 50vh;
        max-width: 90%;
        padding-right: 60px;
    }

    section.works div.right-side span.artist-name {
        font-size: 1rem;
        display: block;
        text-align: left;
        padding-right: 60px;
    }

    section.credits {
        display: block;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    h2.title {
        font-size: 3rem;
    }

    section.credits div.left-side img.stand-up-tall-cover {
        margin: auto;
        display: block;
        margin-bottom: 20px;
        max-width: 55%;
    }

    section.credits div.left-side h3.album-text {
        margin-bottom: 40px;
        font-size: 1.2rem;
    }

    section.credits div.right-side video.main-video {
        max-height: 50vh;
        max-width: 90%;
        display: block;
        padding: 10px 20px;
        margin: auto;
        margin-bottom: 20px;
    }

    section.credits div.right-side h3.video-text {
        margin-bottom: 40px;
        font-size: 1.2rem;
    }
}

/* Phones */

@media screen and (max-width: 414px) {
    section.works {
        display: block;
    }

    section.works div.left-side img.invasion-cover {
        max-height: 50vh;
        max-width: 70%;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    section.works div.right-side h2.ep-subheading {
        font-size: 2.5rem;
        padding-left: 65px;
    }

    section.works div.right-side span.cover-name {
        font-size: 1rem;
    }

    section.works div.right-side h3.ep-tracklist {
        font-size: 1.5rem;
    }

    section.works div.right-side span.artist-name {
        font-size: 1rem;
    }

    section.credits {
        display: block;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    h2.title {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    section.credits div.left-side img.stand-up-tall-cover {
        margin: auto;
        display: block;
        margin-bottom: 20px;
        max-width: 70%;
    }

    section.credits div.left-side h3.album-text {
        margin-bottom: 20px;
        font-size: 1rem;
    }

    section.credits div.right-side video.main-video {
        max-height: 60vh;
        max-width: 90%;
    }

    section.credits div.right-side h3.video-text {
        margin-bottom: 40px;
        font-size: 1rem;
    }
}